@use "./variables" as *;

@page {
  //  font-family: "Segoe UI", "Helvetica", Arial,"Segoe UI Symbol";
   $font-body:
  "Segoe UI",
  Arial,
  sans-serif;
  // font-family: 
  // "-apple-system-body",
  //  "ui-sans-serif", 
  //  "-apple-system", "system-ui", 
  //  "Segoe UI", "Helvetica", 
  //  "Apple Color Emoji", "Arial",
  //   "sans-serif", "Segoe UI Emoji", 
  //   "Segoe UI Symbol";


  margin-top: 10mm;
  margin-left: 5mm;
  margin-right: 5mm;
  margin-bottom: 18mm;

  color: $color-body;

  @bottom-left {
    margin-left: 32px;
    content: "Michael P. | Resume | Senior Lead Software Engineer";
    font-size: 9pt;
  }

  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
    font-size: $font-size-base;
  }
}

@page :first {
  margin-top: 5mm;

  @top-right {
    content: "Jun 10 2026";
    font-size: 6pt;
  }
}


@media screen {
  html {
    background: #ececec;
  }

  body {
    padding: 20px;
    width: 210mm;
    min-height: 297mm;
    margin: 20px auto !important;
    background: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    box-sizing: border-box;
  }
}

body {
  font-family: $font-body !important;
  font-size: $font-size-base;
  line-height: 1.25;
  font-weight: 300;
  font-style: normal;
}

h1,
h2 {
  page-break-after: avoid !important;
}

h3,
p,
ul {
  page-break-inside: avoid !important;
}

hr {
  border: 0;
  border-top: 2px solid $color-border !important;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  opacity: .8;
  padding: 0 !important;
}