@media screen {
  html {
    background: #ececec;
  }

  body {
    padding: 20px;
    width: 210mm;
    min-height: 297mm;
    margin: 20px auto !important;
    background: white;
    box-shadow:
      0 0 25px rgba(0,0,0,.15);

    box-sizing: border-box;
  }

}

@media print {

  html,
  body {
  font-family: "Segoe UI Variable", "Segoe UI", system-ui, -apple-system,
"Helvetica Neue", Arial, sans-serif !important;
    background: white;
    box-shadow: none;
    margin: 0;
    
  }

}

/* First page layout */
@page :first {
  margin-top: 15mm;
  @top-right{ content: 'Jun 10 2026'; font-size: 6pt; }
  
}


@page {
  
  size: A4;
  margin-top: 5mm;
  margin-left: 7mm;
  margin-right: 7mm;
  margin-bottom: 18mm;

   @bottom-left {
    opacity: .5;
    content: "Michael P. | Resume | Senior Lead Software Engineer";
    font-size: 9pt;
  }
  @bottom-right {
    opacity: .5;
    content: "Page " counter(page) " of " counter(pages);
    font-size: 8pt;
  }

  

}
