@use "./variables" as *;

@page {

   font-family:$font-body;

  margin-top: 5mm;
  margin-left:10mm;
  margin-right: 10mm;
  margin-bottom: 11mm;

  color: $color-body;

  @bottom-left {
    margin-left: 8px;
    content: "Michael Polak | Cover Letter | Founder & Chief Architect";
    font-size: 9pt;
    font-size: $font-body;
  }
  @bottom-right {
    margin-right: 8px;
     font-size: 9pt;
       content: "Jun 22 2026";
    font-size: $font-body;
  }

  // @bottom-right {
  //   margin-right: 8px;
  //    font-size: 9pt;
  //   content: "Page " counter(page) " of " counter(pages);
  //   font-size: $font-body;
  // }
}



@media screen {
  html {
    background: #ececec;
  }

  body {
    padding: 20px;
    width: 210mm;
    min-height: 297mm;
    margin: 20px auto !important;
    background: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    box-sizing: border-box;
  }
}
