@use "./variables" as *;

@page {

   font-family:$font-body;

  margin-top: 7mm;
  margin-left: 5mm;
  margin-right: 5mm;
  margin-bottom: 11mm;

  color: $color-body;

  @bottom-left {
    margin-left: 8px;
    content: "Michael P. | Resume | Founder & Chief Architect";
    font-size: 9pt;
    font-size: $font-body;
  }

  @bottom-right {
    margin-right: 8px;
     font-size: 9pt;
    content: "Page " counter(page) " of " counter(pages);
    font-size: $font-body;
  }
}

@page :first {
  margin-top: 2mm;

  @top-right {
    margin-top: 20px!important;
    content: "Jun 22 2026";
    font-size: 8pt;
  }
}


@media screen {
  html {
    background: #ececec;
  }

  body {
    padding: 20px;
    width: 210mm;
    min-height: 297mm;
    margin: 20px auto !important;
    background: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    box-sizing: border-box;
  }
}

body {
  font-family: $font-body !important;
  font-size: $font-size-base;
  line-height: 1.25;
  font-weight: 300;
  font-style: normal;
}

h1,
h2 {
  page-break-after: avoid !important;
}

h3,
p,
ul {
  page-break-inside: avoid !important;
}

hr {
  border: 0;
  border-top: 2px solid $color-border !important;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  opacity: .8;
  padding: 0 !important;
}