@use "./variables" as *;
table {
  border-collapse: collapse !important;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100% !important;
}

table,
th,
td {
  border: none !important;
}

thead th {
  border-top: 0px solid $color-body !important;
  text-align: left !important;
  padding: 2px !important;
}

tbody {
  border-bottom: 0px solid $color-body !important;
}

td {
  padding: 2px !important;
  vertical-align: top !important;
  padding-right: 10px !important;
  font-size: 10pt;
}

.skills-columns {
  display: flex;
  gap: 10px;

  > div {
    width: 50%;
    flex: 0 0 calc(50% - 10px);
    li {
      font-size: 10pt;
    }
  }
}

.list-inline {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    display: inline;
    line-height: 1.5;
  }

  ul li:not(:last-child)::after {
    // content: "•";
    display: inline-block;
    margin-left: 0.6rem;
    margin-right: 0.35rem;
    position: relative;
    // top: -.05em;
  }
}

.bottom-sections {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  p{
     font-size: 10pt!important;
  }
  > div {
   &:first-child{
    padding-right: 15px;
   }
    flex: 1 1 50%;
    min-width: 0;
  }
}
